@import './lib/styles/root.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'D Fixedsys';
  src: url('./lib/fonts/DungGeunMo.eot?#iefix') format('embedded-opentype'),
    url('./lib/fonts/DungGeunMo.woff') format('woff'),
    url('./lib//fonts//DungGeunMo.woff2') format('woff2');
}

body {
  font-family: 'D Fixedsys', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: var(--color-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}
